:root {
  // select style
  --selectLeft: 0;
  --selectTop: 0;
  --selectWidth: 0;

  // bg of comment triangle
  --borderCommentColor: #696969;
  --borderCommentSize: 8px;
  --boxCommentWidth: 120px;
  --BoxCommentHeight: 80px;

  // rectangle style
  --rectangleBottom: 0;
  --rectangleHeight: 40px;
  --rectangleLeft: 0;
  --rectangleRight: 0;
  --rectangleTop: 0;
  --rectangleWidth: 100%;

  // drag Header
  --dragHeaderHeight: 100%;
}

table{
  table-layout: fixed;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  th {
    color: #000;
    font-weight: normal;
  }
  td, th {
    margin: 0;
  }
}
